Repository microsoft/fluentui-react-native, pull requests merged in 2021-11, with the labels that each got.

#1101 Fixes for experimental button in HC
  change/@fluentui-react-native-experimental-button-e18b9282-665a-49c3-8785-4e52ac88dae6.json
  change/@fluentui-react-native-theme-tokens-ffcd6122-bb60-4f89-ba08-ad45e1f71549.json
  change/@fluentui-react-native-theme-types-05c3ea7b-21d1-4b77-91c4-a42e0854b323.json
  change/@fluentui-react-native-theming-utils-e00745b0-9aba-4b7b-b6b8-5c8ebcb2431a.json
  packages/experimental/Button/src/ButtonColorTokens.win32.ts
  packages/experimental/Button/src/ButtonColorTokens.windows.ts
  packages/experimental/Button/src/CompoundButton/CompoundButtonColorTokens.win32.ts
  packages/experimental/Button/src/CompoundButton/CompoundButtonColorTokens.windows.ts
  packages/experimental/Button/src/ToggleButton/ToggleButtonColorTokens.win32.ts
  packages/experimental/Button/src/ToggleButton/ToggleButtonColorTokens.windows.ts
  packages/theming/theme-tokens/src/black/reactnative/tokens-aliases.json
  packages/theming/theme-tokens/src/colorful/reactnative/tokens-aliases.json
  packages/theming/theme-tokens/src/dark/reactnative/tokens-aliases.json
  packages/theming/theme-tokens/src/darkGray/reactnative/tokens-aliases.json
  packages/theming/theme-tokens/src/highContrast/reactnative/tokens-aliases.json
  packages/theming/theme-tokens/src/light/reactnative/tokens-aliases.json
  packages/theming/theme-tokens/src/pipeline-input/token-input-dark.json
  packages/theming/theme-tokens/src/pipeline-input/token-input-darkgray.json
  packages/theming/theme-tokens/src/pipeline-input/token-input-highContrast.json
  packages/theming/theme-tokens/src/pipeline-input/token-input-light.json
  packages/theming/theme-types/src/Color.types.ts
  packages/theming/theming-utils/src/mapPipelineToTheme.ts
Labels: bug, Button

#1120 Use "FRN" prefix over "RCT" for macOS Callout native code
  change/@fluentui-react-native-callout-e466300f-3584-45f9-aefc-029a85841cb2.json
  package.nuspec
  packages/components/Callout/macos/Callout.swift
  packages/components/Callout/macos/CalloutManager.swift
  packages/components/Callout/macos/FRNCalloutManager.h
  packages/components/Callout/macos/FRNCalloutManager.m
  packages/components/Callout/src/Callout.tsx
Labels: AutoMerge :repeat:

#1127 Add writeup of theming testing on win32
  docs/pages/Testing/TestingThemesWin32.md
Labels: Type: Documentation, AutoMerge :repeat:, Area: Tester, Platform: Win32

#1150 Add appearance prop on v1 button
  apps/fluent-tester/src/FluentTester/FluentTester.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/ButtonExperimental/ButtonIconTestSection.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/ButtonExperimental/ButtonVariantTestSection.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/ButtonExperimental/ToggleButtonTestSection.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/MenuButtonExperimental/StandardMenuButtonTest.tsx
  apps/fluent-tester/src/FluentTester/theme/ThemePickers.ios.tsx
  change/@fluentui-react-native-experimental-button-5dd6fd84-933d-4a65-9abc-0b97a830999b.json
  change/@fluentui-react-native-experimental-menu-button-49e724fb-9b47-4edb-b9d8-237c1c6948c2.json
  change/@fluentui-react-native-tester-22b0d74b-8040-4436-a32f-6613c262256c.json
  packages/experimental/Button/src/Button.tsx
  packages/experimental/Button/src/Button.types.ts
  packages/experimental/MenuButton/src/MenuButton.tsx
Labels: Type: New Feature, Area: Button

#1077 Adding Some Missing Component Documentation
  docs/pages/Components/Callout.md
  docs/pages/Components/Callout.mdx
  docs/pages/Components/FocusZone.md
  docs/pages/Components/MenuButton.mdx
  docs/pages/Components/RadioGroup.md
  docs/pages/Components/RadioGroup.mdx
  docs/pages/Components/Shimmer.md
  docs/pages/Components/Tabs.md
  docs/pages/Components/Tabs.mdx
Labels: Type: Documentation
