Repository microsoft/fluentui-react-native, pull requests merged in 2022-07, with the labels that each got.

#1828 Revert "Fire warning that ContextualMenu is deprecated on win32"
  apps/fluent-tester/src/FluentTester/TestComponents/ContextualMenu/ContextualMenuTest.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/Test.tsx
  change/@fluentui-react-native-contextual-menu-05de9819-c982-4731-943f-eb2e6710fb06.json
  change/@fluentui-react-native-tester-14c1def2-083b-4e6f-b0c5-6fd33a6ee99d.json
  packages/components/ContextualMenu/src/ContextualMenu.tsx
Labels: Type: Bug, Priority: High, Area: ContextualMenu

#1847 Shadows: refactor to replace ShadowDepth with ShadowToken
  apps/fluent-tester/src/FluentTester/TestComponents/Shadow/ShadowButtonTestSection.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/Shadow/ShadowDepthTestSection.tsx
  change/@fluentui-react-native-button-24c2c198-d9a5-453c-9d30-dcc7b652879a.json
  change/@fluentui-react-native-experimental-shadow-4562049c-25c2-44d6-8005-b855eb6d603e.json
  change/@fluentui-react-native-tester-ada39ace-6f5d-464b-bd79-2c41f01ee018.json
  packages/components/Button/package.json
  packages/components/Button/src/Button.types.ts
  packages/components/Button/src/FAB/FAB.styling.ts
  packages/components/Button/src/FAB/FABTokens.ts
  packages/experimental/Shadow/package.json
  packages/experimental/Shadow/src/Shadow.tsx
  packages/experimental/Shadow/src/Shadow.types.ts
  packages/experimental/Shadow/src/__tests__/Shadow.test.tsx
  packages/experimental/Shadow/src/__tests__/__snapshots__/Shadow.test.tsx.snap
  packages/experimental/Shadow/src/index.ts
  packages/experimental/Shadow/src/shadowStyle.ts
Labels: AutoMerge :repeat:

#1912 Open ContextualMenu submenu with space or enter
  change/@fluentui-react-native-contextual-menu-cb147792-86fd-4a3f-a77c-519311345d49.json
  packages/components/ContextualMenu/src/SubmenuItem.tsx
Labels: Type: Bug, Platform: MacOS, Platform: Win32, Area: ContextualMenu, Area: MenuButton

#1570 Svg platform color
  apps/fluent-tester/src/TestComponents/Icon/IconTest.tsx
  change/@fluentui-react-native-icon-bb092429-b386-4751-af5d-10ba5b692eb9.json
  change/@fluentui-react-native-tester-797de926-a3c6-409f-a7cf-78e1213bc286.json
  change/@fluentui-react-native-win32-theme-505e39af-4699-4bce-8d45-cb0339135aab.json
  packages/experimental/Icon/src/Icon.tsx
  packages/theming/win32-theme/src/createAliasesFromPalette.ts
Labels: AutoMerge :repeat:
