Repository microsoft/fluentui-react-native, pull requests merged in 2022-06, with the labels that each got.

#1729 [Avatar] Exposed colors as props
  apps/fluent-tester/src/FluentTester/TestComponents/Avatar/BasicAvatar.tsx
  change/@fluentui-react-native-experimental-avatar-892403db-148b-4509-9617-066a58f670a1.json
  change/@fluentui-react-native-tester-11af2d56-d066-4a2e-bd4d-7277972e1489.json
  packages/experimental/Avatar/src/JSAvatar.styling.ts
  packages/experimental/Avatar/src/JSAvatar.tsx
  packages/experimental/Avatar/src/JSAvatar.types.ts
  packages/experimental/Avatar/src/JSAvatarTokens.ts
  packages/experimental/Avatar/src/JSAvatarTokens.win32.ts
Labels: Area: Avatar, AvatarV2

#1730 Added Accessibility E2E tests for the Avatar
  apps/fluent-tester/src/E2E/Avatar/pages/AvatarPageObject.ts
  apps/fluent-tester/src/E2E/Avatar/specs/Avatar.spec.win.ts
  apps/fluent-tester/src/FluentTester/TestComponents/Avatar/CustomizedAvatar.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/Avatar/E2EAvatarTest.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/Avatar/JSAvatarTest.tsx
  apps/fluent-tester/src/FluentTester/TestComponents/Avatar/consts.ts
  change/@fluentui-react-native-tester-c0e13b7f-cd5b-4dfc-9f59-dc231f559c1d.json
Labels: Area: Avatar, Area: Accessibility, AvatarV2

#1781 Remove menu popover from being tab stop
  change/@fluentui-react-native-menu-45467e83-9f22-4a47-b3e4-cc6a8796c768.json
  packages/experimental/Menu/src/MenuPopover/useMenuPopover.ts
  packages/experimental/Menu/src/__tests__/__snapshots__/Menu.test.tsx.snap
Labels: AutoMerge :repeat:
