Repository microsoft/fluentui-react-native, pull requests merged in 2023-03, with the labels that each got.

#2672 [Menu] Add icon support to MenuItems
  apps/fluent-tester/src/TestComponents/Menu/MenuIcons.tsx
  apps/fluent-tester/src/TestComponents/Menu/MenuTest.tsx
  change/@fluentui-react-native-icon-aef25ee1-44ca-4223-b2b4-643e8b2b445f.json
  change/@fluentui-react-native-menu-82f2701a-c9dd-4cf9-b03b-81595c9ba4c6.json
  change/@fluentui-react-native-tester-bd0687ce-8bdb-4d54-ba34-9682a3a1fa62.json
  packages/components/Icon/src/Icon.tsx
  packages/components/Icon/src/Icon.types.ts
  packages/components/Menu/package.json
  packages/components/Menu/src/MenuItem/MenuItem.styling.ts
  packages/components/Menu/src/MenuItem/MenuItem.tsx
  packages/components/Menu/src/MenuItem/MenuItem.types.ts
  packages/components/Menu/src/MenuItem/MenuItemTokens.macos.ts
  packages/components/Menu/src/MenuItem/MenuItemTokens.ts
  packages/components/Menu/src/MenuItem/MenuItemTokens.win32.ts
  packages/components/Menu/src/MenuItem/useMenuItem.ts
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckbox.styling.ts
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckbox.tsx
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckbox.types.ts
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckboxTokens.macos.ts
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckboxTokens.ts
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckboxTokens.win32.ts
  packages/components/Menu/src/MenuItemCheckbox/useMenuItemCheckbox.ts
  packages/components/Menu/src/MenuList/MenuList.types.ts
  packages/components/Menu/src/MenuList/useMenuListContextValue.ts
  packages/components/Menu/src/context/menuContext.ts
  packages/components/Menu/src/context/menuListContext.ts
Labels: Area: Menu

#2687 [Menu] Implement N of M pattern on items
  change/@fluentui-react-native-menu-aca07e1d-dfb8-4b56-9277-c6892ec6f593.json
  packages/components/Menu/src/MenuList/MenuList.tsx
Labels: Area: Accessibility, Area: Menu

#2679 [Button] HC fixes button
  change/@fluentui-react-native-apple-theme-9b2f2fcc-0e26-4612-857c-2e31622d581d.json
  change/@fluentui-react-native-avatar-ae36d64d-fb08-4fcb-bfc9-a4f5bda7a173.json
  change/@fluentui-react-native-badge-68828876-ce85-4b38-8820-32fcf584f4ca.json
  change/@fluentui-react-native-button-964fd6bf-913e-4e63-92fd-0337d3b9bc83.json
  change/@fluentui-react-native-checkbox-19333188-9d56-4746-abab-ab5991392e22.json
  change/@fluentui-react-native-icon-52559231-a710-4a17-abd1-0255432e5f15.json
  change/@fluentui-react-native-switch-bf196767-a006-42be-9003-cbb0c0b3e9fa.json
  change/@fluentui-react-native-theming-utils-0120922d-a343-4991-8bbd-824197ed9829.json
  packages/components/Avatar/package.json
  packages/components/Avatar/src/AvatarTokens.ts
  packages/components/Avatar/src/AvatarTokens.win32.ts
  packages/components/Badge/package.json
  packages/components/Badge/src/PresenceBadge/PresenceBadgeTokens.ts
  packages/components/Badge/src/PresenceBadge/PresenceBadgeTokens.win32.ts
  packages/components/Button/package.json
  packages/components/Button/src/ButtonColorTokens.win32.ts
  packages/components/Button/src/ButtonColorTokens.windows.ts
  packages/components/Button/src/CompoundButton/CompoundButtonColorTokens.win32.ts
  packages/components/Button/src/CompoundButton/CompoundButtonColorTokens.windows.ts
  packages/components/Button/src/ToggleButton/ToggleButtonColorTokens.win32.ts
  packages/components/Button/src/ToggleButton/ToggleButtonColorTokens.windows.ts
  packages/components/Checkbox/package.json
  packages/components/Checkbox/src/shouldUseThickCheckmark.win32.ts
  packages/components/Icon/src/FontIcon/useFontIcon.ts
  packages/experimental/Switch/package.json
  packages/experimental/Switch/src/SwitchTokens.win32.ts
  packages/theming/apple-theme/src/appleHighContrast.macos.ts
  packages/theming/theming-utils/src/index.ts
  packages/theming/theming-utils/src/isHighContrast.macos.ts
  packages/theming/theming-utils/src/isHighContrast.ts
  packages/theming/theming-utils/src/isHighContrast.win32.ts
  packages/theming/theming-utils/src/isHighContrast.windows.ts
Labels: Area: Button, Area: Accessibility

#2693 [ButtonV1][Win32] Fix focus borders on primary buttons
  apps/fluent-tester/src/TestComponents/Button/ButtonShapeTestSection.tsx
  apps/fluent-tester/src/TestComponents/Button/ButtonSizeTestSection.tsx
  change/@fluentui-react-native-button-0fd410c6-ed7e-4d3f-9c6b-045b6685b7e0.json
  change/@fluentui-react-native-experimental-menu-button-6b0c1cac-2a0e-4a72-9702-f3c289a4e541.json
  change/@fluentui-react-native-menu-button-046099b8-7a50-40a6-8b62-ea4783fa21ae.json
  change/@fluentui-react-native-menu-d56e7525-27b7-4dd9-9017-8251bb3abfbc.json
  change/@fluentui-react-native-notification-4f5d22c4-bc32-4e07-b213-03dd2f83ef79.json
  change/@fluentui-react-native-tester-06c923f7-ce34-4a03-b480-daad63e4e299.json
  packages/components/Button/src/Button.styling.ts
  packages/components/Button/src/Button.tsx
  packages/components/Button/src/Button.types.ts
  packages/components/Button/src/ButtonColorTokens.win32.ts
  packages/components/Button/src/ButtonTokens.win32.ts
  packages/components/Button/src/CompoundButton/CompoundButton.styling.ts
  packages/components/Button/src/CompoundButton/CompoundButton.tsx
  packages/components/Button/src/CompoundButton/CompoundButtonTokens.win32.ts
  packages/components/Button/src/FAB/__snapshots__/FAB.test.tsx.snap
  packages/components/Button/src/ToggleButton/ToggleButton.styling.ts
  packages/components/Button/src/ToggleButton/ToggleButton.tsx
  packages/components/Button/src/ToggleButton/__snapshots__/ToggleButton.test.tsx.snap
  packages/components/Button/src/__snapshots__/Button.test.tsx.snap
  packages/components/Button/src/useButton.ts
  packages/components/Menu/src/__tests__/__snapshots__/Menu.test.tsx.snap
  packages/components/MenuButton/src/__tests__/__snapshots__/MenuButton.test.tsx.snap
  packages/components/Notification/src/__tests__/__snapshots__/Notification.test.tsx.snap
  packages/experimental/MenuButton/src/__tests__/__snapshots__/MenuButton.test.tsx.snap
Labels: Area: Button, Area: Accessibility

#2699 [Checkbox] Fix checkbox a11y - screen readers doesn't announce undefined 'checked'
  change/@fluentui-react-native-checkbox-ae068286-c9b5-40b3-a0ff-151b9e263620.json
  packages/components/Checkbox/src/useCheckbox.ts
Labels: Area: Checkbox, Area: Accessibility

#2703 Add numeric font family
  change/@fluentui-react-native-android-theme-e6c3fa1c-5a97-4edc-b5bb-1fdc0db7f601.json
  change/@fluentui-react-native-apple-theme-153514c2-a547-436f-a29b-d61624a48048.json
  change/@fluentui-react-native-default-theme-59f3aed6-f503-432b-966a-23a32eb297be.json
  change/@fluentui-react-native-theme-types-fe2ebeda-be3a-407f-9328-e28f6a5f443f.json
  packages/theming/android-theme/src/__tests__/__snapshots__/android-theme.test.ts.snap
  packages/theming/android-theme/src/androidTypography.ts
  packages/theming/apple-theme/src/__tests__/__snapshots__/apple-theme.test.ts.snap
  packages/theming/apple-theme/src/appleTypography.ios.ts
  packages/theming/apple-theme/src/appleTypography.macos.ts
  packages/theming/default-theme/src/__tests__/__snapshots__/default-theme.test.ts.snap
  packages/theming/default-theme/src/defaultTheme.ts
  packages/theming/theme-types/src/Typography.types.ts
  packages/utils/test-tools/src/mockTheme.ts
Labels: Area: Theming

#2698 [Mobile - Theme] Fix neutralForeground1 in Tester
  apps/fluent-tester/src/FluentTesterApp.tsx
  change/@fluentui-react-native-tester-f69265b2-a195-4367-9de3-d0d581859996.json
Labels: Area: Tester

#2694 [Menu] Implement N of M pattern on items
  apps/fluent-tester/src/TestComponents/Menu/MenuTest.tsx
  change/@fluentui-react-native-menu-aca07e1d-dfb8-4b56-9277-c6892ec6f593.json
  change/@fluentui-react-native-tester-b7dd2460-7c73-48ac-a2ac-f9e261f2ccee.json
  packages/components/Menu/src/Menu/Menu.tsx
  packages/components/Menu/src/MenuItem/MenuItem.tsx
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckbox.tsx
  packages/components/Menu/src/MenuList/MenuList.tsx
Labels: Area: Accessibility, Area: Menu

#2705 Fix host theming not persisting across multiple instances of win32 theme
  change/@fluentui-react-native-win32-theme-059d9611-f7de-420f-a15e-6639ac8fb38b.json
  packages/theming/win32-theme/src/NativeModule/getThemingModule.native.ts
  packages/theming/win32-theme/src/NativeModule/hostThemeSetting.ts
  packages/theming/win32-theme/src/__tests__/__snapshots__/win32-theme.test.ts.snap
  packages/theming/win32-theme/src/__tests__/win32-theme.test.ts
  packages/theming/win32-theme/src/createOfficeTheme.ts
Labels: AutoMerge :repeat:, Area: Theming, Platform: Win32

#2620 Update appium and node version
  .ado/azure-pipelines.publish.yml
  .ado/templates/e2e-dependency-nuget-publish.yml
  .ado/templates/e2e-testing-android.yml
  .ado/templates/e2e-testing-ios.yml
  .ado/templates/e2e-testing-macos.yml
  .ado/templates/e2e-testing-uwp.yml
  .ado/templates/e2e-testing-win32.yml
  .ado/templates/setup-repo.yml
  .ado/templates/yarn-install.yml
  .node-version
  apps/E2E/package.json
  apps/win32/package.json
  change/@fluentui-react-native-e2e-testing-983c8bc8-7f77-4420-8947-aba720566b6a.json
  change/@fluentui-react-native-tester-win32-b53f1173-deb3-4e0b-b02c-720741341b9e.json
  package.json
  scripts/typescript-compatibility-build.yml
  scripts/use-yarn-please.js
  tester_deps/package.json
  tester_deps/yarn.lock
  yarn.lock
Labels: Type: Dependencies, Area: Security, Area : E2E Tests

#2708 [win32] Remove host theme error
  change/@fluentui-react-native-win32-theme-b60baf53-4150-4c2a-890d-c3c3cb005d95.json
  packages/theming/win32-theme/src/NativeModule/hostThemeSetting.ts
  packages/theming/win32-theme/src/__tests__/__snapshots__/win32-theme.test.ts.snap
  packages/theming/win32-theme/src/__tests__/win32-theme.test.ts
Labels: Type: Bug, Area: Theming, Partner request, Platform: Win32

#2709 [Menu] Update Menu documentation
  change/@fluentui-react-native-menu-d3ef2235-a94c-4985-9de7-92743582a4f4.json
  packages/components/Menu/SPEC.md
  packages/components/Menu/src/MenuItem/MenuItem.types.ts
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckbox.types.ts
  packages/components/Menu/src/MenuList/MenuList.types.ts
Labels: Type: Documentation, Area: Menu

#2740 RadioGroup Style Fixes 2.0
  change/@fluentui-react-native-experimental-radio-group-4f77e469-1f0b-42cf-ac97-b2a772a15f3f.json
  packages/experimental/RadioGroup/assets/controlled_radiogroup.png
  packages/experimental/RadioGroup/assets/disabled_item.png
  packages/experimental/RadioGroup/assets/disabled_radiogroup.png
  packages/experimental/RadioGroup/assets/horizontal_radiogroup.png
  packages/experimental/RadioGroup/assets/horizontal_stacked_radiogroup.png
  packages/experimental/RadioGroup/assets/required_radiogroup.png
  packages/experimental/RadioGroup/assets/subtext_radiogroup.png
  packages/experimental/RadioGroup/assets/uncontrolled_radiogroup.png
  packages/experimental/RadioGroup/src/Radio/RadioTokens.win32.ts
  packages/experimental/RadioGroup/src/Radio/__snapshots__/RadioExperimental.test.tsx.snap
  packages/experimental/RadioGroup/src/RadioGroup/__snapshots__/RadioGroupExperimental.test.tsx.snap
Labels: Platform: Win32, Area: RadioGroup

#2731 Properly render switch on/off text when `labelPosition` prop = "before"
  apps/fluent-tester/src/TestComponents/Switch/SwitchTest.tsx
  change/@fluentui-react-native-switch-407aa2c6-eb30-4bca-9b93-dc14436e8786.json
  change/@fluentui-react-native-tester-3b07212a-3b7c-48bd-a9ba-516497167dc8.json
  packages/components/Switch/src/Switch.styling.ts
  packages/components/Switch/src/Switch.tsx
  packages/components/Switch/src/Switch.types.ts
  packages/components/Switch/src/useSwitch.ts
Labels: Area : Switch
