Repository microsoft/fluentui-react-native, pull requests merged in 2023-02, with the labels that each got.

#2586 Fix PR pipeline - remove section containing dead repo link
  apps/fluent-tester/docs/android.md
  change/@fluentui-react-native-tester-0a230f64-d60b-4faa-9671-d278cfabe48d.json
Labels: AutoMerge :repeat:

#2598 macOS: Update submenu indicator color
  change/@fluentui-react-native-menu-a74cbe95-cb27-4f20-ba46-ff79c99a5a6e.json
  packages/components/Menu/src/MenuItem/MenuItemTokens.macos.ts
  packages/components/Menu/src/MenuList/MenuListTokens.macos.ts
Labels: AutoMerge :repeat:

#2608 [Switch] Fix RTL switch issue
  change/@fluentui-react-native-switch-0accd738-718e-46e3-92e1-865241bf5ee2.json
  packages/experimental/Switch/src/useSwitch.ts
Labels: AutoMerge :repeat:

#2551 [Android] Restructuring ActivityIndicator into Spinner
  apps/E2E/src/Spinner/consts.ts
  apps/E2E/src/Spinner/pages/SpinnerPageObject.ts
  apps/E2E/src/Spinner/specs/Spinner.spec.android.ts
  apps/E2E/src/common/NavigateAppPage.ts
  apps/E2E/src/index.consts.ts
  apps/fluent-tester/package.json
  apps/fluent-tester/src/TestComponents/Spinner/SpinnerE2ETest.tsx
  apps/fluent-tester/src/TestComponents/Spinner/SpinnerTest.tsx
  apps/fluent-tester/src/TestComponents/Spinner/index.ts
  apps/fluent-tester/src/testPages.ts
  change/@fluentui-react-native-289cd80e-e7cc-415c-8f42-0dbee2b2251c.json
  change/@fluentui-react-native-e2e-testing-b537236e-15b3-4a09-b765-515cfb1b5afa.json
  change/@fluentui-react-native-spinner-2a78eb52-c15a-416c-9217-66ee1a513a51.json
  change/@fluentui-react-native-tester-fd550a10-c7e7-4b57-90a3-18885c86d6d5.json
  packages/experimental/Spinner/package.json
  packages/experimental/Spinner/src/Spinner.android.tsx
  packages/experimental/Spinner/src/Spinner.styling.ts
  packages/experimental/Spinner/src/Spinner.tsx
  packages/experimental/Spinner/src/Spinner.types.ts
  packages/experimental/Spinner/src/SpinnerTokens.android.ts
  packages/experimental/Spinner/src/SpinnerTokens.ts
  packages/experimental/Spinner/src/index.ts
  packages/libraries/core/src/index.ts
  yarn.lock
Labels: Platform: Android, Area: Spinner

#2617 [Mobile] Divider Implementation & insetSize fix
  apps/fluent-tester/src/TestComponents/Divider/DividerTest.tsx
  apps/fluent-tester/src/TestComponents/Divider/MobileDividerTest.tsx
  change/@fluentui-react-native-divider-62303dc9-65ef-46af-9630-5db38ebdcc5c.json
  change/@fluentui-react-native-tester-8a1b3886-d27b-4310-9fdd-74fe3759a81d.json
  packages/experimental/Divider/src/Divider.styling.ts
  packages/experimental/Divider/src/Divider.types.ts
  packages/experimental/Divider/src/DividerTokens.android.ts
  packages/experimental/Divider/src/DividerTokens.ios.ts
Labels: Area: Tester, Platform: Android, Platform: iOS, Area: Divider

#2615 [Menu] Add option for Menu to generate tooltips for MenuItems
  apps/fluent-tester/src/TestComponents/Menu/MenuTest.tsx
  apps/fluent-tester/src/TestComponents/Menu/MenuTooltips.tsx
  change/@fluentui-react-native-menu-79aeb04e-382b-4f40-a0d2-8270209e6c2c.json
  change/@fluentui-react-native-tester-ec9ca58b-5bbb-4e96-9679-bb911ae19d7e.json
  packages/components/Menu/SPEC.md
  packages/components/Menu/src/MenuItem/MenuItem.tsx
  packages/components/Menu/src/MenuItem/MenuItem.types.ts
  packages/components/Menu/src/MenuItem/useMenuItem.ts
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckbox.tsx
  packages/components/Menu/src/MenuItemCheckbox/MenuItemCheckbox.types.ts
  packages/components/Menu/src/MenuItemCheckbox/useMenuItemCheckbox.ts
  packages/components/Menu/src/MenuList/MenuList.types.ts
  packages/components/Menu/src/MenuList/useMenuListContextValue.ts
  packages/components/Menu/src/context/menuContext.ts
  packages/components/Menu/src/context/menuListContext.ts
Labels: Platform: MacOS, Platform: Win32, Area: Menu

#2644 [Switch] Font truncated a11y issue fix
  change/@fluentui-react-native-switch-c6e6f1fe-042e-4368-88e9-09d358647280.json
  packages/experimental/Switch/src/Switch.styling.ts
  packages/experimental/Switch/src/__tests__/__snapshots__/Switch.test.tsx.snap
Labels: AutoMerge :repeat:, Area: Accessibility, Area : Switch

#2654 [Spinner] Docs , SPEC.md & Props Fix
  apps/fluent-tester/src/TestComponents/Spinner/SpinnerTest.tsx
  change/@fluentui-react-native-spinner-79866be3-0896-4846-b07e-3b9d3d5305d9.json
  change/@fluentui-react-native-tester-9890ce27-5aa0-4575-8a2f-b75c38b7f791.json
  packages/experimental/Spinner/SPEC.md
  packages/experimental/Spinner/src/Spinner.android.tsx
  packages/experimental/Spinner/src/Spinner.styling.ts
  packages/experimental/Spinner/src/Spinner.types.ts
  packages/experimental/Spinner/src/index.ts
Labels: AutoMerge :repeat:, Area: Spinner
