Repository microsoft/fluentui-react-native, pull requests merged in 2023-04, with the labels that each got.

#2697 iOS FRNAppearanceAdditions: support for multiple trait collections
  change/@fluentui-react-native-apple-theme-94f6d0fc-ed05-4ddf-9c07-7bb62ee0275c.json
  change/@fluentui-react-native-experimental-appearance-additions-36f88791-2978-4482-a1a0-c3af49f818cf.json
  packages/experimental/AppearanceAdditions/ios/FRNAppearanceAdditions.m
  packages/experimental/AppearanceAdditions/src/NativeAppearanceAdditions.ts
  packages/experimental/AppearanceAdditions/src/appearanceAdditions.ios.ts
  packages/experimental/AppearanceAdditions/src/appearanceAdditions.ts
  packages/experimental/AppearanceAdditions/src/getSizeClass.ios.ts
Labels: AutoMerge :repeat:

#2762 [Button] Fix onLayout
  change/@fluentui-react-native-button-e0fa243f-1557-4d94-b3a4-1537b7970ee2.json
  packages/components/Button/src/useButton.ts
Labels: Area: Button

#2791 [Button] Fix win32 subtle button coloring
  change/@fluentui-react-native-button-38615555-c5e4-4856-a742-19de1329bc63.json
  packages/components/Button/src/ButtonColorTokens.win32.ts
Labels: Area: Button, Platform: Win32

#2792 Don't bundle in JS PR
  .ado/azure-pipelines.yml
  lage.config.js
Labels: AutoMerge :repeat:
